module.exports = {
	// API settings
	url: 'ws://localhost:5600/api/v1/',
	username: 'myusername',
	password: 'mypassword',

	// Reconnect
	autoReconnect: true,
	reconnectInterval: 10,

	// Logging
	logLevel: 'verbose',
	ignoredListenerEvents: [

	],
	ignoredRequestPaths: [

	],
};